<div class="container">

  <form class="box" [formGroup]="formProduct" (ngSubmit)="createProduct()">
    <table>
      <tr>
        <th colspan="2"><h1 id="title">Create new product</h1></th>
      </tr>
      <tr>
        <th><label for="name" class="form-label">Name:</label></th>
        <td><input class="form-control" id="name" formControlName="name" type="text"></td>
        <td>
          <div *ngIf="formProduct.get('name').hasError('required') && formProduct.get('name').touched">Not blank</div>
        </td>
      </tr>
      <tr>
        <th><label for="price" class="form-label">Price:</label></th>
        <td><input class="form-control" id="price" formControlName="price" type="text"></td>
      </tr>
      <tr>
        <th><label for="description" class="form-label">Description:</label></th>
        <td><input class="form-control" id="description" formControlName="description" type="text"></td>
      </tr>
      <tr>
        <td colspan="2" id="center">
          <button type="submit" class="btn btn-primary" id="submit">Create</button>
        </td>
      </tr>
    </table>
  </form>
  <br>

  <h1 (click)="getAllProduct()">List Products</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products">
      <td (click)="editProduct(p.id)">
        <ins>{{p.id}}</ins>
      </td>
      <td (click)="getProduct(p.id)">
        <ins>{{p.name}}</ins>
      </td>
      <td>{{p.price}}</td>
      <td>{{p.description}}</td>
      <td (click)="deleteProduct(p.id, p.name)"><i class="fa-solid fa-trash-can"></i></td>
    </tr>
    </tbody>
  </table>
</div>
